.rounded-circle {
    width: 50%;
    height:50%;
  }
  
  .botonD{
        font-size:12px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:white;
        border:0px;
        width:80px;
        height:25px;
       }
.btn-group{
	 width: 10%;
}