.rounded-circle {
    width: 5%;
    height:5%;
  }
  
  .botonD{
        font-size:12px;
        font-family:Arial;
        font-weight:bold;
        color:white;
        background:white;
        border:0px;
        width:80px;
        height:25px;
       }
.btn-group{
	 width: 10%;
}

.BEscr{
color: black;}

.imgfluid{
	width: 100% \9;
	height: 10%;
}

.img-fluid{
	width: 200px;
	height: 10%;
}